h1,h2{
    font:bold;
    color: #393E46;
}

body{
    color: #EEEEEE;
}

p{
    color: #222831;
}

li{
    color:black;
    list-style-type: square;
}

ol > li{ /*Select all List Elements that are children of Organized List elements*/
    list-style-type:decimal; 
}
