nav{
    font-family: Raleway, sans-serif;
    font-size: 1.5em;
    text-transform:uppercase;
    border-bottom: 2px solid #f1f1f1;
    width:30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
}

img{
    width: 30%; /*30% of the container <body>. we have 10% left. we have to add a margin to each of the 3 images equal to the 10% left*/
    margin: calc(10%/6); /*10% divided by 6 spaces*/
}